node_modules/
venv/
env/
__pycache__/
*.egg-info/

.env
.env.*
!.env.example
*.pem
*.key
*credentials*.json
serviceAccountKey.json

.next/
dist/
build/
out/
*.pyc

.DS_Store          # macOS
Thumbs.db          # Windows
.vscode/
.idea/
*.swp

*.log
.pytest_cache/
.eslintcache
.cache/

**/.terraform/
*.tfstate
*.tfstate.backup

/backend/venv/
/backend/__pycache__/
/frontend/node_modules/
